* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap");

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background: #292e36;
  font-family: "Ubuntu", sans-serif;
  color: #c4c4c4;
}

h1 {
  font-family: "Roboto", "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.625rem;
  color: white;
}

p {
  font-size: 1.16rem;
  line-height: 1.875rem;
}

section.card-perfil {
  display: flex;
  flex-wrap: wrap;
}

.curve {
  background: url(../img/curv.svg) 
    no-repeat top left;
  background-size: contain;
  margin: 1rem;
  padding: 2rem;
}

.card-perfil img {
  background: #4a5668;
  width: 172px;
  height: 172px;
  border-radius: 18%;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
}

.card-perfil div {
  margin-left: 1rem;
  align-self: center;
  text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
}

.card-perfil aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: .64rem;
}

.card-perfil .icon {
  font-size: 0;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  margin-right: .1rem;
}

@media (max-width: 525px) {
  section.card-perfil {
    justify-content: center;
  }

  .card-perfil div {
    margin: 1rem;
  }

  .card-perfil .icon {
    margin-top: .4rem;
    margin-right: .4rem;
  }

  .curve {
    margin: 4rem;
  }
}

/* icons */
.icon-arrow {
  background: url(../img/icon/arrow.svg) 
    no-repeat center center;
  display: block;
  width: 20px;
  height: 20px;
  align-self: stretch;
}

.icon-arrow:hover {
  
}

.icon-github {
  background: url(../img/icon/github.svg) 
    no-repeat center center;
  display: inline-block;
  width: 28px;
  height: 28px;
}

.icon-github:hover {
    filter: 
      sepia(90%)
      contrast(60%)
      brightness(120%)
    ;
}

.icon-email {
  background: url(../img/icon/email.svg) 
    no-repeat center center;
  display: inline-block;
  width: 28px;
  height: 28px;
}

.icon-email:hover {
  filter: 
    sepia(90%)
    contrast(60%)
    brightness(120%)
  ;
}

.icon-linkedin {
  background: url(../img/icon/linkedin.svg) 
    no-repeat center center;
  display: inline-block;
  width: 28px;
  height: 28px;
}

.icon-linkedin:hover {
  filter: 
    sepia(90%)
    contrast(60%)
    brightness(120%)
  ;
}

.icon-instagram {
  background: url(../img/icon/instagram.svg) 
    no-repeat center center;
  display: inline-block;
  width: 28px;
  height: 28px;
}

.icon-instagram:hover {
  filter: 
    sepia(90%)
    contrast(60%)
    brightness(120%)
  ;
}

.icon-twitter {
  background: url(../img/icon/twitter.svg) 
    no-repeat center center;
  display: inline-block;
  width: 28px;
  height: 28px;
}

.icon-twitter:hover {
  filter: 
    sepia(90%)
    contrast(60%)
    brightness(120%)
  ;
}
